.main {
  text-align: "center";
  width: 50%;
  height: 70vh;
  box-sizing: border-box;
  background: none;
 
}

.cdImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.heading {
  font-variant: normal;
  font-family: "Times New Roman", Times, serif;
  padding-left: 3vh;
}

.tableContainer {
  height: 35vh;
}

table {
  text-align: left;
  margin-top: 5vh;

  width: 90%;
  margin-left: 5vh;
  font-size: 25px;
}

#year {
  width: 200px;
}

.button {
  background-color: rgb(30, 78, 235);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #4caf50;
  color: white;
}
